@charset "utf-8"

// bulma customisations
$pre-padding: 0
$message-body-pre-background-color: transparent

$section-padding: 1.5rem
$footer-padding: 2rem


/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/form/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/helpers/_all"
@import "sass/layout/_all"

// bulma fixes
pre
  white-space: pre-wrap


/*! feather v4.28.0 | MIT License | github.com/feathericons/feather */
@import "sass/custom/feather"
